.popover-paper {
  border-radius: 0;
}

.separator-horizontal {
  /* width: fit-content; */
  border-bottom: 0;
  border-top: 0;
  border-left: 1px solid var(--separator-gray);
  border-right: 1px solid var(--separator-gray);
  height: inherit;
}

.cart-button {
  width: 56px;
  height: inherit;
  border: 0;
  background-color: var(--gray);
  outline: none;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.cart-button img {
  padding-right: 3px;
}

.cart-button-active {
  background-color: var(--cart-beige);
}
