.small-game-spot-container {
  width: 196px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
}

.small-game-spot-card {
  padding: 7px 8px;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  flex-grow: 2;
}

.small-game-spot-name {
  font-size: 14px;
  margin: 4px 1px;
  text-align: start;
  font-weight: 600;
  color: var(--game-name);
}

.small-game-spot-name-owns {
  color: rgba(33, 33, 33, 0.502);
}

.small-game-spot-tags {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
