.top-bar {
  top: 0;
  position: sticky;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  z-index: var(--top-bar-z-index);
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(222, 222, 222, 0.5)
  );
}

.content {
  width: var(--app-width);
  height: inherit;
}

.top-bar-content {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--side-margin) - 1px);
}

.top-bar-icon {
  height: 35px;
  width: 43px;
  padding-left: 2px;
}
