:root {
  --side-margin: 110px;
  --bottom-margin: 40px;
  --top-margin: 39px;
  --app-width: 1280px;

  --gray: #dedede;
  --separator-gray: rgba(0, 0, 0, 0.07);
  --gradient-gray: #808080;
  --main-background-gray: #c2c2c2;
  --discount-green: #00905e;
  --discount-beige: #f2f2f2;
  --price-gray: #404040;
  --price-gray-opaque: #404040bd;
  --cart-beige: #f7f7f7;

  --top-bar-z-index: 10;

  background-color: var(--main-background-gray);
}

.App {
  text-align: center;
  display: block;
}

.background-gradient {
  background-image: linear-gradient(
    var(--gradient-gray),
    var(--main-background-gray)
  );
  height: 423px;
}
