:root {
  --side-margin: 110px;
  --bottom-margin: 40px;
  --top-margin: 39px;
  --app-width: 1280px;

  --gray: #dedede;
  --gradient: #bab6c0;
  --main-background-gray: #c2c2c2;
  --cart-beige: #f7f7f7;
  --cart-separator: #e6e6e6;
  --cart-header-text: #1a1a1a;

  --separator-gray: rgba(0, 0, 0, 0.07);
  --discount-green: rgb(0, 144, 94);
  --discount-beige: rgb(242, 242, 242);
  --price-gray: rgb(64, 64, 64);
  --price-gray-opaque: rgba(64, 64, 64, 0.749);
  --game-name: rgb(33, 33, 33);

  --top-bar-z-index: 10;

  background-color: var(--main-background-gray);
}

.App {
  text-align: center;
  position: relative;
}

.App button {
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}

.background-gradient {
  background-image: linear-gradient(
    var(--gradient),
    var(--main-background-gray)
  );
  height: 423px;
}
